@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap');

body {
    /* Webフォント */
    font-family: 'Noto Sans JP', sans-serif;
}

/* コンテナ */

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
@media screen and (max-width: 1100px) {
    .container {
        width: 90%;
    }
}


/* パーツ */

.c-text__lv1 {
    font-size: 56px;
    font-weight: 700;
}

.c-text__lv2 {
    font-size: 48px;
    font-weight: 700;
}

.c-text__lv3 {
    font-size: 24px;
    font-weight: 700;
}

.c-text__lv4 {
    font-size: 18px;
    font-weight: 500;
}

.c-text__lv5 {
    font-size: 15px;
    font-weight: 300;
}

.c-description__lv1 {
    font-size: 28px;
    font-weight: 300;
}

.c-description__lv2 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
}

.c-description__lv3 {
    font-size:16px;
    font-weight: 500;
    margin-top: 5px;
}

.c-description__lv4 {
    font-size:16px;
    font-weight: 300;
    margin-top: 5px;
}

.c-button {
    color: #fff;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0 24px;
    border-radius: 6px;
    background-color: #000;
}
.c-button__white {
    color: #000;
    font-weight: 700;
    background-color: #fff;
}
.c-button__small {
    height: 38px;
}

.c-image {
    width: 100%;
    border-radius: 16px;
    background-size: cover;
}
.c-image:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
}


/* ヘッダー */

.menu a {
    color: #ddd;
}
.menu li {
    margin: 0 15px;
}
ul.menu {
    display: flex;
    
}


.p-header {
    height: 52px;
    background-color: #000;
    display: flex;
    align-items: center;
}

.p-header__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-header__logo {
    height: 30px;
}


@media screen and (max-width: 960px) {
    .p-header__container {
        width: 100%;
        overflow: hidden;
    }


}


/* メイン */

/* メインビジュアル */

.p-home__mainVisual {
    height: 600px;
    width: 100%;
    background-image: url(image/main.jpg) ;
    background-size: cover;
    display: flex;
    align-items: center;
}
.p-home__mainVisual__text {
    max-width: 600px;
}
.p-home__mainVisual__text h2 {
    text-shadow: 0px 0px 5px #ffffff;
}
.p-home__mainVisual__text p {
    text-shadow: 0px 0px 5px #ffffff;
}
.p-home__mainVisual__text .c-button {
    margin: 16px 0 0;
}


/* 周辺エリア探索 */

.p-areaList {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
}
.p-areaList__item {
    display: flex;
    flex-direction: row;
    width: 25%;
    align-items: center;
    padding: 8px;
}

@media screen and (max-width: 800px) {
    .p-areaList__item {
        width: 50%;
    }
}

.p-areaList__image {
    width: 72px;
    margin: 0 16px 0 0;
}

@media screen and (max-width: 1100px) {
    .p-areaList {
        margin: 0;
    }
    .p-areaList:nth-child(n+2) {
        padding: 0 0 0 8px;
    }
}


/* 好きなところに暮らそう・体験を検索 */

.p-cardList {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}
.p-cardList__item {
    padding: 10px;
    width: 25%;
    flex-direction: row;
    align-items: center;
}


@media screen and (max-width: 1100px) {
    .p-cardList {
        margin: 0 0;
    }
    .p-cardList:nth-child(n+2) {
        padding: 0 0 0 8px;
    }
}

@media screen and (max-width: 630px) {
    .p-cardList__item {
         width: 50%;     
    }
}

.p-cardList__item__text .c-text__lv4 {
    padding: 5px 0 0 0;
}


/* ホスティングをはじめよう・体験を探索 */

.p-home__section {
    margin: 64px 0 0;
}

.p-home__section__head {
    margin: 0 0 24px;
}

.p-box {
    height: 480px;
    padding: 80px;
    display: flex;
    align-items: center;
    background-size: cover;
    position: relative;
}
@media screen and (max-width: 800px) {
    .p-box {
        padding: 30px;
    }
}

.p-box::before {
    content: "";
    display: block;
    width: 630px;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 78%, rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

@media screen and (max-width: 800px) {
    .p-box::before {
        background: rgba(0, 0, 0, 0.50);
        width: 100%;
    }

}

.p-box__text {
    color: #fff;
    max-width: 400px;
    position: relative;
    z-index: 1;
}
.p-box__text .c-button__white {
    margin: 32px 0 0;
}



/* フッター */

.p-footer {
    padding: 20px 0 0;
    margin: 20px 0 0;
    background-color: #eee;
}

.p-footer__body {
    display: flex;
    margin: -8px;
}

.p-footer__item {
    width: 33.3%;
    padding: 8px;
}

.p-footer__foot {
    border-top: 1px solid #000;
    margin: 20px 0 0;
    padding: 5px 0;
    font-size: 15px;
}



/* 以下全てハンバーガーメニュー用 */
input[type="checkbox"] {
    position: absolute;
    left: -50vw;
}

@media screen and (max-width: 960px) {

    .p-header__logo {
        margin-left: 13px;
    }

    .p-header__container {
        width: 100%;
    }

    body {
        margin: 0;
    }
    
    /* Navbar & Navmenu color */
    :root {
        --background-navbar: rgba(0, 0, 0, 0.98);
    }
    
    .header {
        background: var(--background-navbar);
        position: fixed;
        width: 100%;
        height: 52px;
    }
    
    /* Nav items */
    .menu {
        
        list-style: none;
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        margin-top: 52px;
        padding: 0 0 10px 0;
        clear: both;
        background: var(--background-navbar);
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
        transform: scale(1, 0);
        transform-origin: top;
    }

    ul.menu {
        display: block;
    }
    
    
    /* Hamburger menu button */
    .menu-btn:checked ~ .menu {
        transform: scale(1, 1);
        transform-origin: top;
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    }
    
    /* Hamburger menbu text */
    .menu a {

        text-decoration: none;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 16px;
        text-transform: capitalize;
        color: #ddd;
        opacity: 0;
        transition: 0.5s;
        display: block;
        height: 100%;
        padding: 10px;
    }
    
    .menu li {
        border-top: 1px solid rgb(75, 75, 75);
        padding: 0 0;
        margin: 0 54px;
        opacity: 0;
        transition: 0.5s;
        text-align: center; 
        height: 44px;
    }

    
    
    .menu-btn:checked ~ .menu a,
    .menu-btn:checked ~ .menu li {
        opacity: 1;
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
    }
    
    .menu-btn {
        display: none;
    }
    
    .menu-icon {
        display: inline-block;
        position: relative;
        cursor: pointer;
        padding: 24px 14px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    /* オリジナルから右寄せ追加 */
    .menu-icon-box {
        text-align: right;  
    }
    
    .navicon {
        background: #ddd;
        display: block;
        height: 3px;
        width: 26px;
        position: relative;
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    }
    
    .navicon:before,
    .navicon:after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        background: #ddd;
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    }
    
    .navicon:before {
        top: 9px;
    }
    
    .navicon:after {
        bottom: 9px;
    }
    
    /* Hamburger Menu Animation Start */
    .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }
    
    .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }
    
    .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
        top: 0;
    }
    .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        bottom: 0;
    }
    
    .menu-btn:checked ~ .menu-icon .navicon {
        background: rgba(0, 0, 0, 0);
        transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    }
    /* Hamburger Menu Animation End */
    
    /* Navbar Container */
    .navtext-container {
        width: 100%;
        height: 52px;
        position: absolute;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* Navbar Text */
    .navtext {
        position: absolute;
        text-transform: uppercase;
        color: #ddd;
        letter-spacing: 4px;
        font-size: 20px;
    }
}
